/* much of this file is derived from NumPy */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

.navbar-brand img {
   height: 50px;
}
.navbar-brand {
   height: 50px;
}

.corporate-logo img {
    margin-bottom: 0;
    padding-right: 40px;
    height: 50px;
}

.bd-sidebar-primary {
   max-width: 20%;
}

.bd-sidebar-secondary {
   max-width: 20%;
}

code.literal{
    background-color: transparent;
    border: 0px;
    padding: 0rem;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #1B262C;
}

pre, code {
  font-size: 90%;
  line-height: 155%;
}

h1 {
  font-family: "Lato", sans-serif;
  color: #1B262C;
}

h2 {
  color: #0F4C75;
  letter-spacing: -.03em;
}

h3 {
  color: #3282B8;
  letter-spacing: -.03em;
}

h4 {
  color: #1B262C;
  letter-spacing: -.03em;
}

.sd-card {
  background: #fff;
  border-radius: 0;
  padding: 30px 10px 20px 10px;
  margin: 10px 0px;
}

.sd-card .sd-card-header {
  text-align: center;
}

.sd-card .sd-card-header .sd-card-text {
  margin: 0px;
}

.sd-card .sd-card-img-top {
  height: 65px;
  width: 65px;
  margin-left: auto;
  margin-right: auto;
}

.sd-card .sd-card-header {
  border: none;
  background-color: transparent;
  color: #150458 !important;
  font-size: var(--pst-font-size-h5);
  font-weight: bold;
  padding: 2.5rem 0rem 0.5rem 0rem;
}

.sd-card .sd-card-footer {
  border: none;
  background-color: transparent;
}

.sd-card .sd-card-footer .sd-card-text {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.sd-card, .sd-card img {
  background-color: transparent !important;
}

details.sd-dropdown {
    box-shadow: none !important;
}

.bolditalic {
  font-weight: bold;
  font-style: italic;
}

/* Main index page overview cards */
html[data-theme=dark] .sd-card {
  background-color: transparent;
}

html[data-theme=dark] .sd-card .sd-card-header {
  background-color: transparent;
  color: #F6F1F1 !important;
}

html[data-theme=dark] .sd-card .sd-card-footer {
  background-color: transparent;
}

html[data-theme=dark] body {
  color: #F6F1F1;
}

html[data-theme=dark] h1 {
  color: #F6F1F1;
}

html[data-theme=dark] h2 {
  color: #AFD3E2;
}

html[data-theme=dark] h3 {
  color: #146C94;
}

html[data-theme=dark] h4 {
  color: #F6F1F1;
}
