# required dependencies 
meson
meson-python
ninja
numpy<2.0
f90wrap<0.2.14  # temporary upper bound until v0.2.15 is released
versioneer[toml]
rasterio
pandas
h5py
tqdm
scipy
pyyaml
terminaltables

# documentation
sphinx
numpydoc
pydata-sphinx-theme
ipython
sphinxcontrib-bibtex
sphinx-design
sphinx-autosummary-accessors
matplotlib

# test
pytest
pytest-cov

# format
ruff
fprettify
